<div class="signup-container">
  <h2>Sign up</h2>

  <div class="signup-form">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div style="display: flex; gap: 10px;">
          <div style="flex: 1;">
            <%= f.input :first_name,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "given-name", class: "common-input", style: "color: #1D1D1D; border-color: #878787;" },
                        label_html: { style: "color: #1D1D1D;" } %>
          </div>
          <div style="flex: 1;">
            <%= f.input :last_name,
                        autofocus: true,
                        input_html: { autocomplete: "family-name", class: "common-input", style: "color: #1D1D1D; border-color: #878787;" },
                        label_html: { style: "color: #1D1D1D;" } %>
          </div>
        </div>

        <div style="display: flex; gap: 10px;">
          <div style="flex: 3;">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email", class: "common-input", style: "color: #1D1D1D; border-color: #878787;" },
                        label_html: { style: "color: #1D1D1D;" } %>
          </div>
          <div style="flex: 2;">
            <%= f.input :age,
                        autofocus: true,
                        input_html: { autocomplete: "age", type: "text", class: "common-input", style: "color: #1D1D1D; border-color: #878787;" },
                        label_html: { style: "color: #1D1D1D;" } %>
          </div>
        </div>

        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    hint_html: { style: "font-size: 12px; color: #878787; margin-top: 0" },
                    input_html: { autocomplete: "new-password", class: "common-input", style: "color: #1D1D1D; border-color: #878787; margin-bottom: 0" },
                    label_html: { style: "color: #1D1D1D;" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password", class: "common-input", style: "color: #1D1D1D; border-color: #878787;" },
                    label_html: { style: "color: #1D1D1D;" } %>

        <%= f.input :photo, as: :file , style: "color: #1D1D1D; border-color: #878787;"%>
      </div>

      <div class="form-actions2">
        <%= f.button :submit, "Sign up", class: "common-button bt-sign-up" %>
        <%= link_to "Log in", new_session_path(resource_name), class: "bt-forgot-pass" %>
      </div>
    <% end %>
  </div>
</div>
