<div class="show-profile">
  <div class="prof-info align-items-center">
    <%= @user.photo.attached? ? cl_image_tag(@user.photo.key, class:"avatar") : image_tag( asset_path "user.png", class:"avatar") %>
    <div>
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      <p>Plays in Madrid, Spain</p>
    </div>
  </div>
  <div class="prof-stats">
    <div class="d-flex flex-column text-center">
      <p>25</p>
      <h2>Matches</h2>
    </div>
    <div class="vl"></div>
    <div class="d-flex flex-column text-center">
      <p>20</p>
      <h2>Wins</h2>
    </div>
    <div class="vl"></div>
    <div class="d-flex flex-column text-center">
      <p>5</p>
      <h2>Losses</h2>
    </div>
  </div>
  <div class="prof-rectangles">
    <div class="rectangle main">
      <div class="star">★</div>
      <div class="rating"><%= @user.rating %></div>
      <div class="label">Level Rating *</div>
    </div>
    <div class="rectangle secondary">
      <div class="star">★</div>
      <div class="percentage">35%</div>
      <div class="text-profile">Of matches won</div>
        </div>
    <div class="rectangle secondary">
      <div class="star">★</div>
      <div class="percentage">55%</div>
      <div class="text-profile">Level Reliability</div>
    </div>
  </div>
  <div class="match-history">
    <h1>Match History</h1>
    <div class="match-cards overflow-scroll d-flex w-100">
        <% @user_matches.each do |usermatch| %>
        <% match = usermatch.match %>
          <% if match.ready %>
              <div class="match-card ">
                  <div class="dateRes">Thur 26</div>
                    <div class="teams">
                        <h2>A</h2>
                        <div class="teamA" style="position:relative">

                            <% ((match.sport.number_of_players / 2) - (match.UserMatches.where(team: "teamA").count)).times do %>
                              <%= image_tag "profile-user.png", class:"avatar" %>
                            <% end %>
                            <% match.UserMatches.where(team: "teamA").each do |usermatch|%>
                              <% if  usermatch.user.photo.attached? %>
                                <%= cl_image_tag usermatch.user.photo.key, class:"avatar"%>
                              <% else %>
                                 <%= image_tag "profile-user.png", class:"avatar" %>
                              <% end %>

                            <% end %>
                        </div>
                        <hr class="team-divider">
                        <h2>B</h2>
                        <div class="teamB">

                            <% ((match.sport.number_of_players / 2) - (match.UserMatches.where(team: "teamB").count)).times do %>
                               <%= image_tag "profile-user.png", class:"avatar" %>
                            <% end %>
                            <% match.UserMatches.where(team: "teamB").each do |usermatch|%>
                              <% if  usermatch.user.photo.attached? %>
                                <%= cl_image_tag usermatch.user.photo.key, class:"avatar"%>
                              <% else %>
                                 <%= image_tag "profile-user.png", class:"avatar" %>
                              <% end %>

                            <% end %>
                        </div>
                    </div>
                    <div class="score h-100">
                      <div class="result">
                          <h2>Results</h2>
                          <div><%= match.team_a_score%></div>
                          <hr>
                          <div><%= match.team_b_score %></div>
                      </div>
                  </div>
              </div>
            <% end %>
          <% end %>
    </div>
</div>

</div>
