<div class="matches-div">
  <div class="text-center matches-top-div border mx-auto p-5">
    <h1>Search your matches</h1>
    <div class="mt-5 rounded-5">
      <select value="Sport" name="cars" id="cars" class="custom-select px-3 bg-white rounded-5 border border-dark" style="width:195px;height:48px">
        <option value="Sports">Sports</option>
        <% @sports.each do |sport| %>
          <option value="<%=sport.name%>"><%=sport.name.capitalize%></option>
        <% end%>
      </select>
       <select value="Sport" name="cars" id="cars" class="custom-select px-3 bg-white rounded-5 border border-dark" style="width:195px;height:48px">
        <option value="Sports">Level</option>
        <% @sports.each do |sport| %>
          <option value="<%=sport.name%>"><%=sport.name.capitalize%></option>
        <% end%>
      </select>
       <select value="Sport" name="cars" id="cars" class="custom-select px-3 bg-white rounded-5 border border-dark" style="width:195px;height:48px">
        <option value="Sports">Date</option>
        <% @sports.each do |sport| %>
          <option value="<%=sport.name%>"><%=sport.name.capitalize%></option>
        <% end%>
      </select>
       <select value="Sport" name="cars" id="cars" class="custom-select px-3 bg-white rounded-5 border border-dark" style="width:195px;height:48px">
        <option value="Sports">Time</option>
        <% @sports.each do |sport| %>
          <option value="<%=sport.name%>"><%=sport.name.capitalize%></option>
        <% end%>
      </select>
      <input type="submit" value="Search" class="mx-2 submit-button">
    </div>
  </div>
  <div class="border p-5">
      <% @matches.each do |match|%>
        <div class="mb-4 rounded-5 my-4 justify-content-center mx-auto bg-white shadow-gray hover-effect" style="min-height:10rem;width:60%">
          <h3 class="text-center py-3"><%= match.sport.name.capitalize %></h3>
          <div class="d-flex justify-content-between">
            <div class="px-5" style="width:30rem">
              <p><strong>Organizer: </strong><%=match.user.first_name%></p>
              <p><strong>Level: </strong><%=match.level%></p>
              <p><strong>Match Date: </strong><%=match.match_date%></p>
            </div>
            <div class="px-5 d-flex flex-column justify-content-end my-3 align-items-center" style="max-width:30rem">
              <p>Players Remaining: <strong>x / <%=match.sport.number_of_players%></strong></p>
               <input type="submit" value="Request to join" class="mx-2 join-button">
            </div>
          </div>
          </div>
      <% end %>
  </div>
</div>
