<div class="matches-div border" style="min-height:100vh;overflow: visible;">
  <div class="banner">
    <div class="search-ttl">
      <h1>PlayPal</h1>
      <p>Connecting players, one game at a time!</p>
      <div class="search-container">
        <form class="search-form" action="/matches">
          <div class="dropdown-row">
            <div class="dropdown">
              <select name="sport" id="sport">
                <option value="" disabled selected hidden>Sport</option>
                <!-- Add your sports options here -->
                <%@sports.each do |sport| %>
                  <option value="<%=sport.name%>"><%= sport.name.capitalize%></option>
                <% end %>

              </select>
              <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="dropdown">
              <select name="level" id="level">
                <option value="" disabled selected hidden>Level</option>
                <!-- Add your match options here -->
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
              </select>
              <i class="fa-solid fa-caret-down"></i>
            </div>
          </div>
          <div class="dropdown-row">
            <div class="dropdown">
              <input placeholder="Date" class="w-100" style="appearance: none;border-radius:20px;padding: 10px 40px 10px 20px;border: 1px solid #ccc;background-color: #fff;font-size: 16px;" name="date" id="date" data-controller="datepicker">
              <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="dropdown">
              <select name="time" id="time">
                <option value="" disabled selected hidden>Time</option>
            <!-- Add your time options here -->
                <option value="08:00">08:00</option>
                <option value="08:30">08:30</option>
                <option value="09:00">09:00</option>
                <option value="09:30">09:30</option>
                <option value="10:00">10:00</option>
                <option value="10:30">10:30</option>
                <option value="11:00">11:00</option>
                <option value="11:30">11:30</option>
                <option value="12:00">12:00</option>
                <option value="12:30">12:30</option>
                <option value="13:00">13:00</option>
                <option value="13:30">13:30</option>
                <option value="14:00">14:00</option>
                <option value="14:30">14:30</option>
                <option value="15:00">15:00</option>
                <option value="15:30">15:30</option>
                <option value="16:00">16:00</option>
                <option value="16:30">16:30</option>
                <option value="17:00">17:00</option>
                <option value="17:30">17:30</option>
                <option value="18:00">18:00</option>
                <option value="18:30">18:30</option>
                <option value="19:00">19:00</option>
                <option value="19:30">19:30</option>
                <option value="20:00">20:00</option>
                <option value="20:30">20:30</option>
                <option value="21:00">21:00</option>
                <option value="21:30">21:30</option>
                <option value="22:00">22:00</option>
              </select>
              <i class="fa-solid fa-caret-down"></i>
            </div>
          </div>
          <button type="submit" class="join-match-btn">Search match</button>
        </form>
      </div>
    </div>
  </div>
  <div class="my-5 mx-auto" style="height:100%;width:75%">
  <div style="" class="d-flex flex-wrap align-items-center justify-content-between">
    <% if @matches.length == 0 %>
      <div class="w-100 d-flex justify-content-center align-items-center" style="height:15rem">
        <div class="d-flex align-items-center">
          <h2 class="text-center">No available matches..</h2>
          <i class="fa-solid fa-futbol bounce2 fs-1"></i>
        </div>
      </div>
    <% else %>
      <div class="d-flex w-100 flex-wrap justify-content-between">
        <% unless @mymatches.length == 0 %>
        <div class="d-flex justify-content-center w-100">
          <h2 style="display:block" class="text-center">My Matches</h2>
        </div>
        <div class="d-flex w-100 flex-wrap justify-content-between">
          <% @mymatches.each do |match| %>
            <div class="mb-4 rounded-5 my-4 bg-white shadow-icon hover-effect" style="width: 45%; min-height: 15rem;">
              <a href="<%= match_path(match) %>" class="d-block" style="text-decoration: none; color: black;">
                <div class="py-3 date-grid">
                  <p class="date header-font fst-italic text-gray">
                    <%= match.match_date.strftime("%A, %d") if match.match_date %>
                  </p>
                  <h3 class="text-center icon-text sport-name" style="">
                    <%= match.sport&.name&.capitalize || 'Sport Not Available' %>
                  </h3>
                </div>
                <div class="d-flex justify-content-between p-3 position-relative">
                  <div>
                    <p class="header-font"><strong>Organizer: </strong><%= match.user&.first_name || 'Unknown' %></p>
                    <p class="header-font"><strong>Level: </strong><%= match.level || 'Not Specified' %></p>
                    <p class="header-font"><strong>Available spots: </strong> <%=  match.sport.number_of_players - (match.need + (match.UserMatches.where(status: "accepted").count || 0 ))  %> / <%= match.sport.number_of_players || 'N/A' %></p>
                  </div>
                  <div class="icon-container icon-text">
                    <i class="<%= match.sport_icon || 'default-icon' %>"></i>
                  </div>
                </div>
              </a>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
      <div class="d-flex w-100 flex-wrap justify-content-between my-5">
        <% unless @othermatches.length == 0 %>
        <div class="d-flex justify-content-center w-100">
        <% unless @mymatches.length == 0 %>
          <h2 style="display:block" class="text-center">Other Matches</h2>
        <% end %>
        </div>
        <div class="d-flex w-100 flex-wrap justify-content-between">
          <% @othermatches.each do |match| %>
            <div class="mb-4 rounded-5 my-4 bg-white shadow-gray hover-effect" style="width: 45%; min-height: 15rem;">
              <a href="<%= match_path(match) %>" class="d-block" style="text-decoration: none; color: black;">
                <div class="py-3 date-grid">
                  <p class="date header-font fst-italic text-gray">
                    <%= match.match_date.strftime("%A, %d") if match.match_date %>
                  </p>
                  <h3 class="text-center highlight-text sport-name" style="">
                    <%= match.sport&.name&.capitalize || 'Sport Not Available' %>
                  </h3>
                </div>
                <div class="d-flex justify-content-between p-3 position-relative">
                  <div>
                    <p class="header-font"><strong>Organizer: </strong><%= match.user&.first_name || 'Unknown' %></p>
                    <p class="header-font"><strong>Level: </strong><%= match.level || 'Not Specified' %></p>
                    <p class="header-font"><strong>Available spots: </strong> <%=  (match.sport.number_of_players - match.need) + match.UserMatches.where(status: "accepted").count  %> / <%= match.sport.number_of_players || 'N/A' %></p>
                  </div>
                  <div class="icon-container highlight-text">
                    <i class="<%= match.sport_icon || 'default-icon' %>"></i>
                  </div>
                </div>
              </a>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
