<div class="show-div" style="width:1465px; height:840px border-radius:20px; margin:0px auto; margin-top:30px; margin-bottom:20px">
  <div style="background-image: url('<%=@match.show_banner%>');
  background-size: cover; background-position:center; height:250px; width:100%; padding-top:80px; border-radius:20px">
  </div>
  <div class="sport-info" style="width: 1005px; height:230px; margin:0px auto; margin-top:20px">
    <div class="d-flex" style="border-bottom: 1px solid black">
      <i class="<%= @match.sport_icon %>" style="font-size:30px; margin: 10px 25px"></i>
      <div>
        <h1 style="font-size:30px"><%= @match.sport.name.upcase %></h1>
        <p><%= @match.match_date.strftime('%A') %> <%= @match.match_time %></p>
      </div>
    </div>
    <div class="d-flex justify-content-around mt-5">
      <div class="d-flex flex-column">
        <p class="s-info-gray">Gender</p>
        <p class="s-info-black">All Players</p>
      </div>
      <div class="d-flex flex-column">
        <p class="s-info-gray">Level</p>
        <p class="s-info-black">2.7-3.7</p>
      </div>
      <div class="d-flex flex-column">
        <p class="s-info-gray">Price</p>
        <p class="s-info-black">10$</p>
      </div>
    </div>
  </div>
  <div class="game-type-i">
    <p><%= @match.game_type %></p>
    <% if @match.game_type == "Competitive" %>
      <p style="color:grey">The result of this match will count towards your rating</p>
    <%else %>
      <p style="color:grey">The result of this match will not count towards your rating</p>
    <% end %>
  </div>

  <div style="width: 100%; max-width: 1005px; height: 400px; border-radius: 20px; margin: 0px auto; overflow: hidden; position: relative; margin-top:15px" class="mapbox-container">
    <div class="mapbox"
        style="width: 100%; height: 100%;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>


  <div class="game-teams" style="z-index:1000">
    <div>
      <h1 style="font-size:20px; padding: 10px 10px">Players</h1>
    </div>
    <div class="d-flex justify-content-evenly">
      <div class="teama overflow-scroll">
      <% ((@match.sport.number_of_players) / 2 ).times do  %>
        <img src="https://plus.unsplash.com/premium_photo-1671656349218-5218444643d8?q=80&w=3387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Avatar" class="avatar">
      <% end %>
    </div>
    <div class="vl"></div>
    <div class="teamb overflow-scroll"">
      <% ((@match.sport.number_of_players) / 2 ).times do  %>
        <img src="https://plus.unsplash.com/premium_photo-1671656349218-5218444643d8?q=80&w=3387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Avatar" class="avatar">
      <% end %>
    </div>
    </div>
    <div class="d-flex justify-content-between mt-4 align-items-end">
      <h1 style="margin-left:10px; font-size:30px ">A</h1>
      <h1 style="margin-right:10px; font-size:30px">B</h1>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3" style="margin:0px auto">
    <button class="chat-btn"><i class="fa-regular fa-comment"></i> Chat </button>
  </div>
  <div>
    <% if @already_requested %>
      <div class="request-btn" style="opacity:.8">
        You already requested to join
      </div>
    <% elsif !(current_user == @match.user) %>
      <%= link_to "Request to Join", match_user_matches_path(@match), class:"request-btn", data:{turbo_method:"post"}%>
    <% end %>
  </div>
</div>
